extends layout-dashboard

block content
  div.mt-3
    a(href="/dashboard/recipe/new").btn.btn-primary.mb-2 New
    table.table
      thead
        tr
          th(scope='col') #
          th(scope='col') Title
          th(scope='col') Description
          th(scope='col') Keywords
          th(scope='col') Category
        each recipe in recipes
            tr
                th(scope='row')
                    a(href=`/dashboard/recipe/edit/${recipe.id}`)=recipe.id
                td=recipe.title
                td=recipe.description
                td=recipe.keywords
                td=recipe.category