extends layout

block content
  h1= title
  p Welcome to #{title}

  each recipe in recipies
    h2= recipe.title
    p= recipe.description
    p= recipe.created_at
    - var img = recipe.thumbnail
    img(src=img)
    h3 Ingredients:
    each ingr in recipe.ingredients
      p= ingr
    h3 Steps:
    each step in recipe.steps
      p= step

    
