extends layout

block content
  each recipe in recipies
    div.mt-md-3
      h1
        a(href=`receta/${recipe.id}/${recipe.title_for_url}`)=recipe.title
      p= recipe.description
      - var img = recipe.thumbnail
      img(src=img)
      h3 Ingredientes:
      ul
        each ingr in recipe.ingredients
          li= ingr
      a(href=`receta/${recipe.id}/${recipe.title_for_url}`) Seguir leyendo

    
