extends layout

block content
  each recipe in recipes
    div.mt-md-3
      .card.mb-1
        h5.card-header.recipe-title
          a(href=`${recipe.url}`)=recipe.title
        .row.no-gutters
          .col-md-4.pt-3.pl-3
            - var img = recipe.thumbnail
            a(href=`${recipe.url}`)
              img.card-img(src=img, alt='imagen receta')
            small.rexr-muted.mr-1= recipe.description
            // Pinterest button
            - var href = "https://www.pinterest.com/pin/create/button/?url=http://recipes21.com/recipe/"+recipe.id+"/"+recipe.title_for_url+"&media="+recipe.thumbnail+"&description="+recipe.description
            a(data-pin-do='buttonPin', href=href)
              img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_16.png')
          .col-md-8
            .card-body            
              h6.card-subtitle.mb-2.text-muted Ingredients:
              ul
                each ingr in recipe.ingredients
                    li.card-text= ingr
              p.card-text.text-right
                a(href=`${recipe.url}`) Continue reading
              



