doctype html
html(lang="en")
  head
    if isProduction
      //Global site tag (gtag.js) - Google Analytics
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-139523568-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-139523568-1');
    if showAds  
      //Adsense Ads
      script.
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9559827534748081",
      enable_page_level_ads: true
      });
      //AMP ads
      script(async='', custom-element='amp-auto-ads', src='https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js')

    title= title
   
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='Cache-control', content=metaCache)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Recipes21')
    meta(name='language', content='en')
    meta(name='keywords', content=keywords)
    meta(name='robots', content='Index, Follow')
    meta(property='og:locale', content='en_EN')
    meta(property='og:type', content='article')
    meta(property='og:site_name', content='Recipes21')
    meta(property='article:publisher', content='http://www.recipes21.com/')
    meta(property='article:author', content='http://www.recipes21.com/')
    meta(name='title', content=title)
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:url', content=linkToThisPage)
    meta(property='og:image', content=metaImage)
    meta(property='article:modified_time', content=updatedAt)
    if isHomePage
      script(async='async', defer='true', charset='UTF-8', type='application/ld+json').
        {
          "@context": "http://schema.org/",
          "@type": "WebSite",
          "name": "recipes21.com. The best recipes for cooking",
          "image": [
          "https://res.cloudinary.com/dniiru5xy/image/upload/c_fill,w_900/recipes21/recipes21-default.jpg"
          ],
          "datePublished": "2019/05/02",
          "description": "recipes21.com. The best recipes for cooking",
          "keywords": "recipes,food,cooking,easy"
          }
    link(rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet' media="screen" href='/stylesheets/style.css')

  body
    .shadow-sm.pb-3.mb-3
      header
        .container-fluid
          .row
            .col-lg-3
              h1.text-dark.brand.text-center.text-lg-left Recipes 21
            .col-lg-6
              input(name='search', id="search" type='text', 
              placeholder='Find a recipe', onkeyup="search(event)", 
              value=searchText).form-control.form-control-md.mt-3
            .col-lg-3
              .mt-2.mr-3.show-on-desktop.text-right.mt-2
                if isUserAuthenticated
                  img(src=userImageUrl, title=userName).rounded-circle
                else
                  button(onclick="redirectToSSO()").btn.btn-link Sign In
                  button(onclick="redirectToSSO()").btn.btn-outline-success Get Started

        
        
        
      div.sub-header.mt-2  
        nav.nav.justify-content-center
          a.nav-item.ml-3(href='/') 
            span.text-dark Home
          a.nav-item.ml-3(href='/') 
            span.text-dark About
          a.nav-item.ml-3(href='/') 
            span.text-dark Recipes
          a.nav-item.ml-3(href='/sso') 
            span.text-dark Subscribe
          a.nav-item.ml-3(href='https://www.facebook.com/Recipes21com-101318984547771') 
            span.text-dark Facebook
  
    .container-fluid
        .row
          .col-md-1
            //left
          .col-md-7
            block content
            //recipes spotlight
            if displayMoreRecipes
              .mt-4.border-top
                h3.pt-3 Explore More
                .row
                  each recipe in recipesSpotlight
                    .col-sm-4.text-center
                      - var img = recipe.thumbnail200
                      a(href=`${recipe.url}`)
                        img.img-fluid(src=img, alt='recipe image')
                      a(href=`${recipe.url}`)
                        h6.text-dark= recipe.title
                     
                      
                      
          .col-md-4
            //right column
    //footer
    footer.bg-dark.text-white.py-4.mt-3
      .container
        .row
          each recipe in footerRecipes  
            .col-md-4.mt-2
              a(href=`${recipe.url}`)
                span.text-white= recipe.title
      // Copyright
      hr
      .py-2.text-center
        | © 2019 Copyright 
        a(href='/')  
          span.text-white www.recipes21.com
        span.text-white.mx-2 |
        a(href='/privacy-policy')  
          span.text-white Privacy Policy
        span.text-white.mx-2 |
        a(href='/terms-and-conditions')  
          span.text-white Terms and conditions
  script(src='/javascripts/common.js')
  if showAds
    amp-auto-ads(type='adsense', data-ad-client='ca-pub-9559827534748081')        

