doctype html
html(lang="en")
  head
    if isProduction
      //Global site tag (gtag.js) - Google Analytics
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-139523568-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-139523568-1');

    if isProduction
      //Google Adsense
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9559827534748081",
        enable_page_level_ads: true
        });

    title= title
   
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='Cache-control', content=metaCache)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Recipes21')
    meta(name='language', content='en')
    meta(name='keywords', content=keywords)
    meta(name='robots', content='Index, Follow')
    meta(property='og:locale', content='en_EN')
    meta(property='og:type', content='article')
    meta(property='og:site_name', content='Recipes21')
    meta(property='article:publisher', content='http://www.recipes21.com/')
    meta(property='article:author', content='http://www.recipes21.com/')
    meta(name='title', content=title)
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:url', content=linkToThisPage)
    meta(property='og:image', content=metaImage)
    meta(property='article:modified_time', content=updatedAt)
    if isHomePage
      script(async='async', defer='true', charset='UTF-8', type='application/ld+json').
        {
          "@context": "http://schema.org/",
          "@type": "WebSite",
          "name": "recipes21.com. The best recipes for cooking",
          "image": [
          "https://res.cloudinary.com/dniiru5xy/image/upload/w_600,ar_16:9,c_fill,g_auto,e_sharpen/v1556981218/recipes21/choco-cookies.jpg"
          ],
          "datePublished": "2019/05/02",
          "description": "recipes21.com. The best recipes for cooking",
          "keywords": "recipes,food,cooking,easy"
          }
    link(rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet' media="screen" href='/stylesheets/style.css')

  body
    div.container
      nav.nav.justify-content-start.fixed-top.bg-success.p-2
        a.nav-link(href='/') 
          span.text-white Recipes21
   
      .mt-5
        .row.no-gutters.mx-2
          .col-md-9
            block content
            //recipes spotlight
            if !isHomePage
              .mt-2
                .card
                  h3.card-header Recipes spotlight
                  .card-body
                    .row
                      each recipe in recipesSpotlight
                        .col-3
                          .card.border-0
                            .card-body
                              a(href=`${recipe.url}`)
                                h6= recipe.title
                              - var img = recipe.thumbnail200
                              a(href=`${recipe.url}`)
                                img.img-fluid(src=img, alt='recipe image')
          .col-md-3
            .card.position-fixed.border-0
              .card-body
                if isProduction
                  // Ad fixed rught
                  script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                  ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9559827534748081', data-ad-slot='4716175564', data-ad-format='auto', data-full-width-responsive='true')
                  script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
    
      .mb-5 &nbsp
      .mb-3 &nbsp
      .fixed-bottom(style='height: 100px')
        p.text-center
          if isProduction
            // Ad fixed bottom
            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            ins.adsbygoogle(style='display:inline-block;width:970px;height:90px', data-ad-client='ca-pub-9559827534748081', data-ad-slot='4308981457')
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
    
