extends layout

block content
  div.mt-md-3
    div.card.mb-3
      - var img = recipe.featured_image
      img(src=img).card-img-top.img-fluid
      div.card-body
        h3.card-title= recipe.title
        p.card-text= recipe.description  
    div.card.mt-md-3
      h3.card-header Ingredientes
      div.card-body
        ul
        each ingr in recipe.ingredients
          li= ingr
    div.card.mt-md-3
      h3.card-header Pasos
      div.card-body
        ol
          each step in recipe.steps
            li= step
    
    div.mt-md-3
      each keyword in recipe.keywords
        span.badge.badge-pill.badge-secondary.mr-2.px-3.py-2= keyword
