extends layout

block content
    h1=recipe.title
    - var img = recipe.featured_image_url
    if isMobile
        - img = recipe.featured_image_url_mobile
    img(src=img, alt='recipe image').img-fluid
    .mt-3
      small.text-muted= recipe.description
      a(data-pin-do='buttonPin', href=recipe.pinterestSharingUrl).ml-2
        img(src='/images/pinterest-share-16.png')
      a(data-pin-do='buttonWhatsapp', href=recipe.whatsappSharingUrl).ml-2
        img(src='/images/whatsapp-share-16.png')
      a(data-pin-do='buttonFacebook', href=recipe.facebookSharingUrl).ml-2
        img(src='/images/facebook-share-16.png')
    h2.mt-3 Ingredients
    ul.list-group
      each ingr in recipe.ingredients
        li(onclick="activateElem(this)").list-group-item= ingr

    h2.mt-3 Directions
    ol.list-group.list-group-ol
      each step in recipe.steps
        li(onclick="activateElem(this)").list-group-item.list-group-item-ol= step
    
    .mt-2
      each keyword in recipe.keywords_array
        a(href=`/recipes/keyword/${keyword}`).badge.badge-pill.badge-info.mr-2.px-4.py-2
          span=keyword
    if recipe.allow_edition
      .mt-2.text-right
        - var href = "/recipe/edit?id="+recipe.id
        a(href=href) Edit
