extends layout

block content
  div.mt-3
    if successMessage
        div(role='alert').alert.alert-success= successMessage
    - var action = "/recipe/edit?id="+recipe.id
    form(action=action method="POST")
            .card.mt-2.mb-5.border-0
                if newRecipe
                    .card-header New Recipe 
                else
                    - var header = '['+recipe.id+']'+' '+recipe.title
                    .card-header= header                   
                .card-body  
                    if !newRecipe
                        .form-group.row
                            span Recipe link: 
                                a(href=`${recipe.url}`, title="Go to this recipe detail")=recipe.url
                    if !recipe.active
                        .form-group.row
                            span.text-danger Unpublished recipe
                    .form-group.row
                        label.font-weight-bold Created at: 
                        span=recipe.created_at
                        label.ml-3.font-weight-bold Updated at: 
                        span=recipe.updated_at
                    .form-group.row
                        input(name='title', type='text', placeholder='Recipe title', value=recipe.title).form-control.form-control-sm
                    .form-group.row
                        .form-check
                            input(type='radio', name='active', id='active', value='active' checked=recipe.active).form-check-input
                            label(for='active').form-check-label Active
                        .form-check.ml-2
                            input(type='radio', name='active', id='inactive', value='inactive' checked=!recipe.active).form-check-input
                            label(for='inactive').form-check-label Inactive
                    .form-group.row
                        input(name='featured_image_name', type='text', placeholder='Featured image name', value=recipe.featured_image_name).form-control.form-control-sm
                    .form-group.row
                        input(name='keywords', type='text', placeholder='keywords', value=recipe.keywords).form-control.form-control-sm
                    .form-group.row
                        textarea(name='description', cols="100", rows="2", placeholder="Description").form-control= recipe.description
                    .form-group.row
                        textarea(name='ingredients', cols="100", rows="10", placeholder="Ingredients").form-control= recipe.ingredients_raw
                    .form-group.row
                        textarea(name='steps', cols="100", rows="10",  placeholder="Directions").form-control= recipe.steps_raw
                    .form-group.row
                        input(name='category_name', type='text', placeholder='Category name', value=recipe.category_name).form-control.form-control-sm
                    .form-group.row
                        input(name='prep_time_seo', type='text', placeholder='Prep time SEO', value=recipe.prep_time_seo).form-control.form-control-sm
                    .form-group.row
                        input(name='cook_time_seo', type='text', placeholder='Cook time SEO', value=recipe.cook_time_seo).form-control.form-control-sm
                    .form-group.row
                        input(name='total_time_seo', type='text', placeholder='Total time SEO', value=recipe.total_time_seo).form-control.form-control-sm
                    .form-group.row
                        input(name='prep_time', type='text', placeholder='Prep time', value=recipe.prep_time).form-control.form-control-sm
                    .form-group.row
                        input(name='cook_time', type='text', placeholder='Cook time', value=recipe.cook_time).form-control.form-control-sm
                    .form-group.row
                        input(name='total_time', type='text', placeholder='Total time', value=recipe.total_time).form-control.form-control-sm
                    .form-group.row
                        input(name='cuisine', type='text', placeholder='Cuisine', value=recipe.cuisine).form-control.form-control-sm
                    .form-group.row
                        input(name='yield', type='text', placeholder='Yield', value=recipe.yield).form-control.form-control-sm
                    .form-group.row  
                        button(type="submit" ).btn.btn-primary Save
